header{ 
    flex-direction: row; 
    font-size: 50pt; 
    font-family: Georgia, 'Times New Roman', Times, serif; 
    font-style: italic; color:rgb(35, 13, 87); 
    background-color: rgb(13, 112, 121); 
    border-width: 1px;}
ul{ background-color: darkseagreen; font-size: 20pt; display:flex}
li{ display: inline; width: auto; text-align: end;
     padding: 25px;
      align-items: end;
       margin: 0px;}
.center{ display:block;
     margin-left: auto;
      margin-right: auto;
       width: 25%;
        border-radius: 50%; }
h1{ background-color: rgb(13, 112, 121);
     font-size: 30pt;
      text-align: center;
       color: rgb(35, 13, 87)}
p{ background-color: darkseagreen;
    box-sizing: content-box; color: rgb(35, 13, 87); font-size: medium; text-align: center; font-size: 15pt; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;}
.container{ display:flex; 
    flex-direction: row ; background-color: darkseagreen;}
@media (max-width: 600px) {.container { flex-direction: column;} }
h2{ text-align: center; font-size: 30pt; background-color: rgb(13, 112, 121); color: rgb(35, 13, 87)}
.project{ border-radius: 25%; padding: 10px; size: 50px;}
